body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  font-family: 'Quicksand', sans-serif;

}

code {
  font-family: Quicksand !important;
}

*,
html {
  font-family: Quicksand !important;
}



/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.pagination button {
  border: 1px solid #1a9fb2;
  padding: 10px;
}
.pagination select {
  max-width: 120px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #1a9fb2;
  color: #1a9fb2;
  cursor: pointer;
}

.activePage {
  background-color: #1a9fb2;
  color: #fff;
  border: 1px solid #1a9fb2 !important;
}

.active {
  background-color: #fff;
  color: #19376d !important;
}
.prevBtn {
  background-color: #fff;
  color: #1a9fb2;
  border: 1px solid #1a9fb2 !important;
  transition: 0.5s;
}

.prevBtn:hover,
.prevBtn:focus,
.prevBtn:active {
  background-color: #1a9fb2;
  color: #fff;
  border: 1px solid #1a9fb2 !important;
}
.nextBtn {
  background-color: #fff;
  color: #1a9fb2;
  border: 1px solid #1a9fb2 !important;
  transition: 0.5s;
}

.nextBtn:hover,
.nextBtn:focus,
.nextBtn:active {
  background-color: #1a9fb2;
  color: #fff;
  border: 1px solid #1a9fb2 !important;
}

.absolute-container {
  position: relative;
}
.search_Header {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  height: auto;
  width: 100%;
  background: #fff;
  box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
}
.search_Header ul{
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.search_Header ul li {
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid rgb(178, 212, 255)  ;
  transition: 0.3s;

}
.search_Header ul li.active {
  background-color: rgb(38, 132, 255);
  border: 1px solid rgb(38, 132, 255) ;
  color: #fff !important;
}
.search_Header ul li.normal:hover{
  background-color: rgb(178, 212, 255);
  border: 1px solid rgb(178, 212, 255) ;
}
.search_Header .close_btn{
  display: flex;
  justify-content: flex-end;
}
.search_Header .close_btn i {
  font-size: 20px;
  cursor: pointer;
}

.search_Header .options-ul{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.search_Header .options-ul li {
  background-color: #E6E6E6;
  color: black;
  border: 1px solid #E6E6E6;
  min-width: 80px;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.search_Header .options-ul li span{
  padding-left: 6px;
  padding: 3px;
  text-align: center;
  width: 100%;

}
.search_Header .options-ul li button{
  padding-left: 4px;
  padding-right: 4px;
  flex: 1;
}
.search_Header .options-ul li button:hover{
  background-color: #FFBDAD;
  color: #DE350B;
}